.chat {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  width: 100%;
  padding: 45px;
  padding-bottom: 30px;
  font-size: 18px;
  text-align: center;
  color: #282c34;
  background-color: white;
}

.chat__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 40px;
}

.chat__icon {
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin-right: 30px;
  padding: 20px;
  font-size: 20px;
  font-weight: 700;
  background-color: #282c34;
  border-radius: 20px;
}

.chat__icon--name {
  min-width: 150px;
  width: auto;
  margin-right: 40px;
  padding: 10px 15px;
}

.chat__icon p {
  margin: 0;
  padding: 0;
  color: #FFF;
}

.chat__icon span {
  display: block;
  font-size: 36px;
  color: #61dafb;
}

.chat__dashboard {
  flex-grow: 1;
}

.chat__form {
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

input {
  box-sizing: border-box;
  width: 100%;
  height: 55px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #282c34;
  border-right: none;
  border-radius: 10px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

button {
  box-sizing: border-box;
  width: 190px;
  height: 55px;
  padding: 10px;
  font-size: inherit;
  color: #FFF;
  background-color: #003399;
  border: 1px solid #003399;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

button:hover {
  background-color: #0066FF;
  border-color: #0066FF;
  cursor: pointer;
}

.chat__smiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 10px;
}

.chat__smile {
  color: #282c34;
  font-size: 1.5em;
  pointer-events: none;
}

.chat__smiles span {
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 10px;
}


.chat__smiles span:last-child {
  margin-right: 0;
}

.chat__smiles span:hover .chat__smile {
  color: #0066FF;
}

.chat__messages {
  box-sizing: border-box;
  margin: 0;
  padding: 0px 30px;
  width: 100%;
  height: 100%;
  list-style: none;
  font-size: 20px;
  text-align: left;
}

.chat__message {
  margin-bottom: 15px;
}

.chat__message--server {
  font-style: italic;
}

.chat__message span {
  font-weight: bold;
  font-style: normal;
  color: #003399;
}

@media (max-width: 768px) {
  .chat {
    padding: 30px;
    padding-bottom: 20px;
    font-size: 16px;
  }


.chat__messages {
  padding: 0px 10px;
}

  .chat__icon {
    box-sizing: border-box;
    width: 90px;
    height: 90px;
    margin-right: 25px;
    padding: 15px;
    font-size: 18px;
  }
}

@media (max-width: 630px) {
  .chat__icon {
    display: none;
  }

  .chat__wrapper {
    margin-bottom: 20px;
  }
}

@media (max-width: 520px) {
  .chat {
    padding: 20px;
  }

  .chat__smiles {
    width: 70%;
  }
}

@media (max-width: 380px) {
  .chat__smiles {
    width: 80%;
  }
}

@media (max-width: 350px) {
  .chat__smiles {
    width: 85%;
  }
}
